<header class="bg-purple-900 p-8">
  <h1>Backstage</h1>
</header>

<nav>
  <a href="#">Mijn partituren</a>
  <a href="#">Bibliotheek</a>
  <LinkTo @route="auth.system">Instellingen</LinkTo>
</nav>

<div class="container mx-auto">
  {{outlet}}
</div>