<section class="my-8">
  <div class="mb-6">
    <h1 class="text-4xl">Buttons</h1>
  </div>

  <div class="bg-white px-4 py-8">
    <button type="button" class="flex-shrink-0 mx-4 px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-purple-600 hover:bg-purple-500 focus:outline-none focus:shadow-outline-purple focus:border-purple-700 active:bg-purple-700 transition duration-150 ease-in-out">
      Toevoegen
    </button>

    <button type="button" class="flex-shrink-0 mx-4 px-4 py-2 border border-purple-600 text-sm leading-5 font-medium rounded-md text-purple-600 bg-white hover:border-purple-500 hover:text-purple-500 focus:outline-none focus:border-purple-700 focus:text-purple-700 active:bg-purple-200 transition duration-150 ease-in-out">
      Nieuwe stem
    </button>
  </div>
</section>

{{outlet}}